/*.carcas {*/
 	/*width: 100%;*/
	/*margin: 0 auto;*/
/*}*/
body{
    margin: 0;
    min-width: 375px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

#header .row {
    margin-left: 0;
    margin-right: 0;
}
.logo a img {
    width: 200px;
}

.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  /*width: 100%;*/

  /* кнопку отправки будем позиционировать абсолютно,
  ** поэтому необходимо это свойство */
  position: relative;
}

.search input {
  /* отключаем бордюры у инпутов */
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;
  border: 1px solid #ccc;
  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  padding: 11px 37px 8px 15px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  /*box-shadow: inset 0 0 1px rgba(0,0,0,1);*/

  /* закругляем углы */
  /*border-style: 1px solid #000;*/
  border-radius: 3px;

  /*background: #EEE;*/
  font: 14pt 'Roboto Regular', sans-serif;
  color: #2a0323;
  outline: none;
}

::-webkit-input-placeholder {color:#550055;}
::-moz-placeholder          {color:#550055;}/* Firefox 19+ */
:-moz-placeholder           {color:#550055;}/* Firefox 18- */
:-ms-input-placeholder      {color:#550055;}

/* меняем оформление поля ввода при фокусе */
/*.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}
*/
/* оформляем кнопку отправки */
.search .submit {
  border: none;
  /* позиционируем кнопку абсолютно от правого края формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(../images/search-button.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.7;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
  opacity: 1;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
.basket {
    float: right;
    margin-top: 0;
}

.basket-button {
    float: right;
}
.basket a {
    display: block;
    background-color: #550055;
    padding: 0px 0 44px 0;
}
.basket a img {
    margin: 12px;
    float: left;
    display: block;
}
.basket a div {
    float: left;
    border-left: 1px solid #fff;
}
.basket a div p {
    padding: 10px 20px;
    font-size: 13pt;
    font-family: 'Roboto Thin', Arial;
    font-weight: 100;
    color: #FFFFFF;
    margin: 0;
}

.basket a:hover {
    background-color: #f242ea;
}

.menu-container{
    width: 100%;
    background-color: #550055;
}
.main-menu {
	width: 100%;
    max-width: 1200px;
	margin:0 auto;
	background-color: #550055;
	/*padding: 10px 0;*/
	overflow: hidden;
    border: none;
}
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu a{
    display: block;
    width: 25%;
	float: left;
	padding: 11px 0;
	font-size: 13.5pt;
	font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
	color: #FFF;
	text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.main-menu a:hover {
	background-color: #f242ea;
}


#footer-wrapper {
    margin-top: 50px;
    width: 100%;
    background-color: #150111;
    padding: 50px 0;
}

#footer h5 {
    font-family: 'Roboto Medium', sans-serif;
    /*font-weight: 500;*/
    font-size: 12pt;
    opacity: 0.7;
    padding-bottom: 10px;
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#footer ul li {
     line-height: 16pt;
}
#footer ul li a {
   text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto Light', sans-serif;
    /*font-weight: 300;*/
    font-size: 12pt;
    opacity: 0.7;
}
#footer ul li a:hover {
    text-decoration: underline;
}

.payment-cards ul li {
    float: left;
    margin-right: 15px;
}
.copyrights {
    float: right;
}
.copyrights p {
    text-align: right;
    color: #FFFFFF;
    font-family: 'Roboto Light', sans-serif;
    /*font-weight: 100;*/
    font-size: 10.5pt;
    opacity: 0.7;
    margin: 10px 0;
}

p.social a  {
    margin: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.content {
    margin-top: 50px;
}
.content a{
    text-decoration: none;
	color: #2a0323;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    font-size: 14pt;
    text-align: center;
    line-height: 15px;
}
.content img {
    display: block;
    margin: 15px auto;
    width: 100%;
    max-width: 270px;
}
.content h3 {
    margin-bottom: 40px;
    text-align: center;
    color: #2a0323;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 24pt;
}

.catalog_link {
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
    padding-right: 20px;
    max-width: 570px;
    background-color: #2a0323;
    line-height: 20pt;
    text-align: left;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;
    font-size: 13.5pt;
    color: #FFFFFF;
}
.catalog_link>img {
    margin: 0 20px 0 0;
    display: block;
    float: left;
    height: 100%;
    max-width: 30%;
}

.catalog_link h3 {
    text-align: left;
    padding-top: 10%;
    padding-bottom: 15px;
    margin:0;
    width: 100%;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
    font-size: 24pt;
    color: #FFFFFF;
}
.catalog_link p {
    padding: 0;
}

.shoes {
    padding-right: 0;
    position: relative;
}

.shoes>img {
    margin: 0;
    height: 100%;
    max-width: 100%;
}
.shoes h3 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 15%;
}
.shoes p {
    position: absolute;
    top: 45%;
    left: 0px;
    padding-left: 15%;
}


.navbar-default {
    background: #550055;
    border: none;
    border-radius: 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 13.5pt;
	font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
	color: #FFF;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: #f242ea;
}
.navbar {
    margin: 0;
}

#carousel {
    max-width: 1920px;
    margin: 0 auto;
}
.carousel-indicators {
        bottom: 2%;
    }
.carousel-caption {
    max-width: 1170px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.carousel-caption p {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    line-height: 1em;
}
.carousel-caption a {
    font-size: 1.3vw;
    margin-top: 4%;
    text-decoration: none;
    background-color: #f242ea;
    padding: 10px 15px;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
}

@media (min-width: 768px) {
    .logo {
        padding: 36px 0;
    }
    #header, #footer,.carousel-caption {
        max-width: 80%;
    }
    .content{
        max-width: 80%;
    }


    .search-form {
        padding: 33px 0;
    }
    .basket-button {
        padding: 33px 0;
    }
    #catalog_menu {
        display: none!important;
    }
}
@media (max-width: 767px){
    .logo, .search-form, .basket-button {
        float: left;
        padding: 1px 0;
    }
    .basket div {
        display: none;
    }
    .copyrights {
        display: none;
    }
    #carousel {
        display: none;
    }
    #discounter {
        display: none;
    }
}

@media (min-width: 992px) {
    .logo {
        padding: 29px 0;
    }
    #discounter a div span {
        margin: 0 12px;
        font: 12pt 'Roboto Medium';
    }
}

@media (max-width: 992px) {
    .logo a img {
        width: 150px;
    }
    #l-menu {
        display: none;
    }

    .payment-cards {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .catalog_link h3 {
        padding-top: 7%;
        font-size: 20pt;
    }
    .catalog_link {
        font-size: 11pt;
        line-height: 15pt;
    }
    h3.left {
        font-size: 20pt;
    }
    ul.catalog_sorter {
        list-style: none;
        position: absolute;
        top: 28px;
        right: 10px;
    }
}

@media (max-width: 425px) {

    .catalog_link h3{
        font-size: 15pt;
    }
    .catalog_link {
        font-size: 10pt;
        line-height: 15pt;
    }
    .content {
        margin-top: 15px;
    }
    .content > div.row > h3 {
        margin-bottom: 10px;
        font-size: 17pt;
    }
    .content a {
        line-height: 10px;
        font-size: 11pt;
    }

}
@media (min-width: 1200px) {
    .nav {
        max-width: 1450px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .carousel-caption {
        max-width: 1170px;
    }
    .carousel-caption h1, .carousel-caption p {
        font-size: 36pt;
    }
}
/*         -------------------сайдбар----------------------     */

ul.left-menu { padding:0;margin:0; }
ul.left-menu li { padding:8px 0;margin:0;list-style:none;}
ul.left-menu li ul { padding:0;margin:15px 0 15px 40px; }
ul.left-menu li ul li {padding:  2px 0;}
ul.left-menu li ul li a {font: 12pt 'Roboto Light';}
ul.left-menu li ul li a:hover, 
ul.left-menu li ul li a.active {font-family: 'Roboto Medium'; color: #f242ea;}

ul#catalog_menu_items { padding:0;margin:0; }
ul#catalog_menu_items li { padding:0 20px;margin:0;list-style:none;}
ul.catalog_menu_items li ul { padding:0;margin:15px 0 15px 40px; }
ul.catalog_menu_items li ul li {padding:  2px 0;}
ul#catalog_menu_items li ul li a {font: 12pt 'Roboto Light'; color: #fff; text-decoration: none;}
ul#catalog_menu_items li ul li a:hover, 
ul#catalog_menu_items li ul li a.active {font-family: 'Roboto Medium';}


ul#leftmenu a { padding-left:0;}
ul#leftmenu a.collapsed {  }
ul#leftmenu a.expanded {  }
ul#leftmenu a + ul { display: none;}

h3.left {
    text-align: left;    
  position: relative;
  overflow: hidden;
}
h3.left:after {
  display: inline-block;
  content: "";
  height: 1px;
  background: #660066;
  position: absolute;
  width: 100%;
  bottom: 5px;
  margin-top: -2px;
  margin-left: 10px;
  opacity: 0.5;
}

.catalog a {
    font-size: 12pt;
}
.catalog a p span {
    font-family: 'Roboto Medium';
}

ul.catalog_sorter {
        padding-left: 17px;
        list-style: none;
        position: absolute;
        bottom: -8px;
        right: 0px;
        top: inherit;
    }
ul.catalog_sorter li {
    float: left;
    padding: 0 5px;
}

ul.catalog_sorter li a {
    font: 9pt 'Roboto';
}

ul.catalog_sorter li a:hover,
ul.catalog_sorter li a.active {
    color: #f242ea;
}
/*-------------------------   Пагинация   -----------------------*/
.paginator {
    position: relative;
    margin: 50px 0;
    color: #2a0323;
}
.paginator h4 {
    font: 13pt 'Roboto';
}

.pager {
position: absolute;
    top: 9px;
    left: 140px;
    margin: 0;
}
.pager li>a, .pager li>span {
    font-size: 10.5pt;
    display: inline-block;
    padding: 5px;
    border: none;
    background: none;
}
.pager li>a:hover, .pager li>a:focus {
    background: none;
    color: #f242ea;
}
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
    color: #999;
    cursor: default;
}

.pagination {
    border: none;
}

.pagination>li>a, .pagination>li>span {
    border: none;
    font: 13.5pt 'Roboto Regular';
    color: #2a0323;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #550055;
    color: #ffffff;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #550055;
}

.bx-wrapper .bx-viewport {
    left: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bx-wrapper a {
    display: block;
    font: 13.5pt 'Roboto Bold';
    color: #ffffff;
    position: relative;
    /*float: left;*/
    width: 100%;
    /*margin: 0.625%;*/
}

/*#discounter a:first-child{*/
    /*margin-left: -15px;*/
/*}*/
/*#discounter a:last-child{*/
    /*margin-right: -15px;*/
/*}*/
.bx-wrapper a img{

    /*margin: 0;*/
    /*width: 100%;*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
    display: block;
}
.bx-wrapper a p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
    margin: 0;
    background-color: #550055;
    font: 13.5pt 'Roboto Bold';
}
.bx-wrapper  span {
    padding: 0 10px;
    text-align: center;
    display: none;
    color: #FFFFFF;
    position: absolute;
    top: 35%;
    left: 0;
}
/*#discounter a div {*/
    /*width: 93%;*/
/*}*/
.bx-wrapper a div:hover {
    background-color: #e09dd9;
}
.bx-wrapper a:hover p {
    display: none;
}
.bx-wrapper a:hover img {
    mix-blend-mode: multiply;
  	opacity: 0.5;
}
.bx-wrapper a:hover span {
    display: inline;
}

.good_card img {
    margin: 0 0 15px 0;
    max-width: 100%;
    float: left;
}
.good_card  form {
    color: #000000;
    float: left;
}
.good_card form h3 {
    color: #000000;
    text-align: left;
    margin: 0;
    line-height: 30px;
}
.good_card form .price {
    margin-top: 25px;
    font: 18pt 'Roboto Medium';
    color: #000000;
}
.good_card form a {
    text-align: left;
    display: block;
    margin: 30px 0 20px 0;
    font: 16pt 'Roboto Regular';
    color: #150111;
    text-decoration: underline;
}
#size-table {
    position: relative;
    overflow: hidden;
}

label.good_size {
    cursor: pointer;
    position: relative;
    margin: 0 22px 0 0;
    text-align: center;
    float: left;
    border: 1px solid #550055;
    font: 13.5pt 'Roboto Regular';
}
label.good_size:hover {
    border: 1px solid #f242ea;
}

label.good_size span {
    display: block;
    padding: 5px;
    min-width: 35px;
}

label.good_size input:checked + span {
    background-color: #550055;
    color: #ffffff;
    cursor: default;
}
.good_size input {
    position: absolute;
    top: 0;
    left: -9999px;
}
.add-to-basket {
    margin: 40px 0;
}
.add-to-basket input {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font: 13pt 'Roboto Light';
    color: #ffffff;
    background-color: #550055;
}
.good_card form > h4 {
    font: 12pt 'Roboto Regular';
    color: #150111;
}
.good_card form > p {
    font: 10.5pt 'Roboto Light';
    color: #150111;
}
