@media (min-width: 768px) {
    .logo {
        padding: 33px 0;
    }

    .search-form {
        padding: 33px 0;
    }
    .basket-button {
        padding: 33px 0;
    }

}
@media (max-width: 768px){
    .logo, .search-form, .basket-button {
        float: left;
        padding: 1px 0;
    }
}

@media (min-width: 992px) {

    .logo {
        padding: 22px 0;
    }
}

@media (max-width: 992px) {
    .logo a img {
        width: 150px;
    }

    .basket a {
        display: block;
        background-color: #550055;
        padding: 12px;
        width: 44px;
        height: 44px;
        border-radius: 3px;
    }
    .basket_img {
        float: left;
        padding: 0;
        border: none;
    }
    .basket_text {
        display: none;
    }
}

@media (min-width: 768px) {
    #header {
        max-width: 80%;
    }
    .content{
        max-width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .catalog_link h3 {
        padding-top: 7%;
        font-size: 20pt;
    }
    .catalog_link {
        font-size: 11pt;
        line-height: 15pt;
    }
}

@media (min-width: 1200px) {
    .nav {
        max-width: 1450px;
        margin: 0 auto;
    }
}
@media (max-width: 425px) {
    .carousel-caption {
        bottom: -15px;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-caption a {
        padding: 5px;
    }
    .catalog_link h3{
        font-size: 15pt;
    }
    .catalog_link {
        font-size: 10pt;
        line-height: 15pt;
    }
}